.title-about {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url('../images/harley-davidson-02tt7EvQKhw-unsplash.jpg') no-repeat center
      center/cover;
  height: 200px;
}

.title-about > h1 {
  text-align: center;
  color: white;
  padding: 100px;
  font-size: 40px;
}

.about-section {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-section > p {
  margin-top: 20px;
  padding: 0 220px;
  font-size: 16px;
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 374px) {
  .title-about > h1 {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 30px;
  }

  .about-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 13px;
  }
  
  .about-section > p {
    margin-top: 20px;
    padding: 0 30px;
    font-size: 13px;
    text-align: justify;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .title-about > h1 {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 32px;
  }

  .about-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
  }
  
  .about-section > p {
    margin-top: 20px;
    padding: 0 30px;
    font-size: 13px;
    text-align: justify;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  .title-about > h1 {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 34px;
  }

  .about-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 15px;
  }
  
  .about-section > p {
    margin-top: 20px;
    padding: 0 50px;
    font-size: 14px;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title-about > h1 {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 38px;
  }

  .about-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 16px;
  }
  
  .about-section > p {
    margin-top: 20px;
    padding: 0 70px;
    font-size: 14px;
    text-align: justify;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .title-about > h1 {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 38px;
  }

  .about-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 18px;
  }
  
  .about-section > p {
    margin-top: 20px;
    padding: 0 100px;
    font-size: 16px;
    text-align: justify;
  }
}
